

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#quiz {
	width: 640px;
	height: 300px;
	background-color: #eaeaea;
	margin: auto;
	position: relative;
}

#quiz-left {
	width: 400px;
	height: 100%;
	float: left;
	padding: 30px;
	text-align: center;
}

#quiz-left  p.q {
	font-size: 24px;
	font-weight: 200;
}

#quiz-right {
	width: 240px;
	height: 100%;
	float: right;
	padding: 30px;
}

#question {
	position: relative;
}

#input {
	width: 100%;
	height: 120px;
	top: 110px;
	position: absolute;
}

#ans {
	font-size: 30px;
	height: 50px;
	text-align: center;
}

#submit {
	margin-top: 10px;
}

#feedback {
	margin-top: 20px;
}

#quiz-right p {
	font-size: 20px;
	font-weight: 200;
}

